<h2 mat-dialog-title>Takas informācija</h2>
@if (trailDetail){
  <mat-dialog-content>
    <p>Nosaukums: {{ trailDetail.name }}</p>
    <p>Segums: {{ trailDetail.surface }}</p>
    <p>Sarežģītība: {{ trailDetail.complexity }}</p>
    <p>Apraksts: {{ trailDetail.comment }}</p>
    <p>Autors: {{ trailDetail.user.name}} {{trailDetail.user.surname}}</p>
    <!-- Add more fields as needed -->
  </mat-dialog-content>
  @if (trailDetail.user.email === userEmail){
    <mat-dialog-actions>
      <button mat-button (click)="onDeleteClick(trailDetail.id)" style="background-color: #d30021; width: 100%; color: white">Dzēst</button>
    </mat-dialog-actions>
  }

}
@if (!trailDetail){
  <mat-dialog-content>
    <p>Loading...</p>
  </mat-dialog-content>
}



<mat-dialog-actions>
  <button mat-button (click)="onNoClick()" style="width: 100%">Aizvērt</button>
</mat-dialog-actions>
