<h2 mat-dialog-title>Trail Details</h2>
@if (trailDetail){
  <mat-dialog-content>
    <p>Name: {{ trailDetail.name }}</p>
    <p>Surface: {{ trailDetail.surface }}</p>
    <p>Complexity: {{ trailDetail.complexity }}</p>
    <p>Comment: {{ trailDetail.comment }}</p>
    <p>User Name: {{ trailDetail.user.name }}</p>
    <!-- Add more fields as needed -->
  </mat-dialog-content>
  @if (trailDetail.user.email === userEmail){
    <mat-dialog-actions>
      <button mat-button (click)="onDeleteClick(trailDetail.id)" style="background-color: #d30021; width: 100%">Delete</button>
    </mat-dialog-actions>
  }

}
@if (!trailDetail){
  <mat-dialog-content>
    <p>Loading...</p>
  </mat-dialog-content>
}



<mat-dialog-actions>
  <button mat-button (click)="onNoClick()" style="width: 100%">Close</button>
</mat-dialog-actions>
