.component {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 20px;

}

.trails-list {
  margin: 50px 0;
  padding: 20px;
  width: 800px;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;


}

.trails-header {
  background-color: #8c7051;
  color: #f4f4f4;
  font-weight: bold;

  .trail-name,
  .trail-surface,
  .trail-complexity {
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    color: #f4f4f4;
  }

}

.trails-header th {
  padding: 15px;
  text-align: center;
}

tr:hover {
  background-color: #cbb89d !important;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.trail-name,
.trail-surface,
.trail-complexity {
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
  color: #333;
}
