<h2 mat-dialog-title>Pievienot jaunu pakalpojumu</h2>
<mat-dialog-content>
  <form [formGroup]="serviceForm" style="display: flex; flex-direction: column">
    <mat-form-field>
      <mat-label>Nosaukums</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="serviceForm.controls.name.hasError('required')">Nosaukums ir obligāts</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" hintLabel="Max 300 rakstzīmes">
      <mat-label>Apraksts</mat-label>
      <textarea matInput #input maxlength="300" formControlName="comment" placeholder="Serviss piedāvā.."></textarea>
      <mat-hint align="end">{{input.value.length}}/300</mat-hint>
      <mat-error *ngIf="serviceForm.controls.comment.hasError('required')">Apraksts ir obligāts</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fotogrāfija</mat-label>
      <ngx-mat-file-input formControlName="file" accept=".jpg,.jpeg,.png"></ngx-mat-file-input>
      <mat-icon matSuffix>attach_file</mat-icon>
      <mat-error *ngIf="serviceForm.controls.file.invalid && serviceForm.controls.file.touched">Atļautie failu tipi: JPG, JPEG, PNG</mat-error>
      <mat-error *ngIf="serviceForm.controls.file.hasError('required')">Fotogrāfija ir obligāta</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: flex-end">
  <button mat-button (click)="onNoClick()">Atcelt</button>
  <button mat-button (click)="addService()" [disabled]="!serviceForm.valid">Pievienot</button>
</mat-dialog-actions>
