<nav>
  <ul>
    <li><a [routerLink]="['/takas']" [routerLinkActive]="['active']">Velotakas</a></li>
    <li><a [routerLink]="['/pakalpojumi']" [routerLinkActive]="['active']">Pakalpojumi</a></li>
    <li><a [routerLink]="['/reklamas']" [routerLinkActive]="['active']">Sludinājumi</a></li>
  </ul>
    @if(!isLogged){
    <div class="log-out" (click)="login()">
        <p>Ienākt</p>
    </div>
    }
  @if(isLogged){
    <div class="log-out" (click)="logout()">
        <p>Iziet</p>
    </div>
  }
</nav>
