<h2>{{ category }}</h2>
<div class="category-list-container">
<table class="category-list">
  <tr *ngFor="let advertisement of advertisements" (click)="navigateToDetail(advertisement)">
    <td class="category-item">
      <img [src]="getImageUrl(advertisement)" alt="Advertisement Image">
    </td>
    <td class="category-item">
      <h3>{{advertisement.description}}</h3>
    </td>
    <td class="category-item">
      <p>{{advertisement.price}}</p>
    </td>
  </tr>
</table>
</div>
<p>Total Records: {{ advertisements.length }}</p>
<button mat-raised-button color="primary" routerLink="/sludinajumi/jauns">Izvietot sludinājumu</button>
