<div class="component">
  <div class="register-container">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
      <label for="name">Vārds:</label>
      <input type="text" id="name" formControlName="name" required>

      <label for="surname">Uzvārds:</label>
      <input type="text" id="surname" formControlName="surname" required>

      <label for="dateOfBirth">Dzimšanas datums:</label>
      <input type="date" id="dateOfBirth" formControlName="dateOfBirth" required>

      <label for="email">E-pasts:</label>
      <input type="email" id="email" formControlName="email" required>

      <label for="description">Apraksts:</label>
      <textarea id="description" formControlName="description" required></textarea>

      <label for="password">Parole:</label>
      <input type="password" id="password" formControlName="password" required>

      <button type="submit">Reģistrēties</button>
    </form>
    <div class="login">
      <a [routerLink]="['/login']"> vai ja jums jau ir profils</a>

    </div>
    <div class="guest">
      <a [routerLink]="['/trails']">vai arī turpināt kā viesim</a>
    </div>
  </div>
</div>
