<div class="component">
  <div class="register-container">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required>

      <label for="surname">Surname:</label>
      <input type="text" id="surname" formControlName="surname" required>

      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" id="dateOfBirth" formControlName="dateOfBirth" required>

      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>

      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" required></textarea>

      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>

      <button type="submit">Register</button>
    </form>
    <div class="login">
      <a [routerLink]="['/login']">or if you are already registered</a>
    </div>
  </div>
</div>
