<form [formGroup]="adsForm" (ngSubmit)="onSubmit()">
  <div *ngIf="message">{{ message }}</div>
  <p>
    <label for="category">Kategorija: </label>
    <select id="category" formControlName="category">
      <option value="" disabled selected>Izvēlieties kategoriju</option>
      <option value="bikes">Velosipēdi</option>
      <option value="spareparts">Rezerves daļas</option>
      <option value="accessories">Aksesuāri</option>
      <option value="equipment">Ekipējums</option>
      <option value="other">Cits</option>
    </select>
  </p>
  <div *ngIf="(adsForm.controls.category.dirty || submitted) && adsForm.controls.category.hasError('required')"> Obligāts lauks </div>
  <p>
    <label for="description">Apraksts: </label>
    <input id="description" type="text" formControlName="description">
  </p>
  <div *ngIf="(adsForm.controls.description.dirty || submitted) && adsForm.controls.description.hasError('required')"> Obligāts lauks </div>
  <div *ngIf="(adsForm.controls.description.dirty || submitted) && adsForm.controls.description.hasError('maxlength')">Aprakstam jāsatur mazāk par 500 zīmēm</div>
  <p>
    <label for="price">Cena: </label>
    <input id="price" type="number" step="0.01" formControlName="price">
  </p>
  <div *ngIf="(adsForm.controls.price.dirty || submitted) && adsForm.controls.price.hasError('required')"> Obligāts lauks </div>
  <p>
    <button type="submit">Izveidot</button>
  </p>
</form>
